apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "recgo_engine.fullname" . }}
  labels:
    {{- include "recgo_engine.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "recgo_engine.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "recgo_engine.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "recgo_engine.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            exec:
              command:
              - bash
              - /usr/local/src/recgo_engine-helm/livenessprobe-exec.sh
            initialDelaySeconds: 30
            periodSeconds: 5
          env:
            {{- range $key, $value := .Values.recgo_engine.extraEnvVars }}
            - name: {{ $key }}
              value: |-
                {{- tpl $value $ | nindent 16 }}
            {{- end }}
          volumeMounts:
            - name: {{ include "recgo_engine.fullname" . }}-livenessprobe-exec
              mountPath: /usr/local/src/recgo_engine-helm
            - name: {{ include "recgo_engine.fullname" . }}
              mountPath: {{ .Values.volume.mountPath }}
          ports:
            - name: api-http-port
              containerPort: 8080
              protocol: TCP
            - name: api-grpc-port
              containerPort: 8081
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      volumes:
        - name: {{ include "recgo_engine.fullname" . }}
          {{ include "recgo_engine.pvc" . }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
